.tDnD_whileDrag {
    background-color: #eee;
}

tr.alt td {
    background-color: #ecf6fc;
}

tr.myDragClass td {
    background-color: #F0F0F0;
}

td.dragHandle {
    
}
td.tocTitle {
	padding-left: 1em;
}

td.tocIndex {
	padding-left: 2em;
	display: none;
}

td.showDragHandle {
	background-image: url(../images/updown2.gif);
	background-repeat: no-repeat;
	cursor: move;
}

.versionHistory td {
    vertical-align: top;
    padding: 0.3em;
}